# -----------------------
# Python / Virtualenv
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
.env
.venv/
venv/
ENV/
env/
*.virtualenv

# -----------------------
# Poetry
# -----------------------
.poetry/
*.lock

# -----------------------
# SQLite / DB files
# -----------------------
*.db
*.sqlite3
database/
db_implement/*.db

# -----------------------
# Cache / temp
# -----------------------
*.log
*.tmp
*.bak
*.swp
.DS_Store
.cache/
.ipynb_checkpoints/

# -----------------------
# IDE / editor
# -----------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -----------------------
# Alembic / Migrations
# -----------------------
alembic/versions/*.pyc
temp/*
db_files/mercuriales/mercuriale_compass.csv
db_files/mercuriales/mercuriale_elior_fermee.csv
db_files/mercuriales/mercuriale_elior_ouverte.csv
db_files/mercuriales/mercuriale_medelys.csv
db_files/mercuriales/mercuriale_sodexo_ouverte.csv
db_files/rules/assignment_conditions.csv
db_files/mercuriales/mercuriale_compass.csv
db_files/mercuriales/mercuriale_medelys.csv
db_files/mercuriales/mercuriale_sodexo_ouverte.csv
temp/import_manager copy.py
combined_python_code.txt
services_merged.txt
merged.txt
db_files/mercuriales/mercuriale_compass.csv
db_files/mercuriales/mercuriale_medelys.csv
db_files/mercuriales/mercuriale_sodexo_ouverte.csv
queries.md
guide.md
